.navContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}

.logoContainerImage {
  max-width: 60px;
  height: auto;
}

.menuContainer {
  flex: 10;
  background: transparent;
}

.navLink {
  color: #fff;
}

.navLink:hover {
  color: grey !important;
}
